li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border: 1px solid black;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: white;
    font-size: 1.5rem;
    box-shadow: 0 0 10px gray;
}
img{
    width: 5%;
}
li img:first-child{
    transition: .5s;
}
li img:first-child:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: .5s;
    filter: invert(30%) sepia(99%) saturate(1309%) hue-rotate(71deg) brightness(91%) contrast(102%);
}
li img:last-child{
    transition: .5s;
}
li img:last-child:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: .5s;
    filter: invert(18%) sepia(46%) saturate(6276%) hue-rotate(352deg) brightness(98%) contrast(128%);
}

.completed{
    filter: invert(30%) sepia(99%) saturate(1309%) hue-rotate(71deg) brightness(91%) contrast(102%);
}
.task-completed{
    text-decoration: line-through;
}