form{
    border-radius: 10px;
    background-color: white;
    width: 50%;
}
form p{
    font-size: 2rem;
    color: black;
}
form textarea{
    width: 70%;
    height: 60%;
    font-size: 2rem;
    padding: 4px 8px;
}
form textarea::placeholder{
    font-size: 1.5rem;
    padding: 4px;
}
form textarea:focus{
    outline-color: #0051D1;
}
form .form-buttons{
    display: flex;
    justify-content: space-around;
}
form .form-buttons .form-buttons-btn{
    border-radius: 50px;
    border: none;
    padding: 16px;
    margin: 16px 0;
    font-size: 1.5rem;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
}
form .form-buttons .btn-cancel{
    background-color: red;
    color: white;
    box-shadow: 0 0 10px red;
}
form .form-buttons .btn-add{
    background-color: green;
    color: white;
    box-shadow: 0 0 10px green;
}